@model Gdl.Web.Modules.Autores.Models.AutorViewModel
@using Gdl.Web.Modules.Autores.Models.Enums

<form hx-post="@Url.Action(Model.Id == 0 ? "Create" : "Edit")" hx-target="#modalDialogContent" method="post" autocomplete="off">
    <div class="modal-header border-0 pb-0">
        <h5 class="modal-title fw-bold text-gdl-blue">@(Model.Id == 0 ? "Novo Autor" : "Editar Autor")</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body py-4">
        <input type="hidden" asp-for="Id" />
        
        <div class="mb-4">
            <label asp-for="Nome" class="form-label fw-medium"></label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger small mt-1 d-block"></span>
        </div>

        <div class="mb-2">
            <label asp-for="Cargo" class="form-label fw-medium"></label>
            <select asp-for="Cargo" class="form-select">
                <option value="">-- Selecione o Cargo --</option>
                @foreach (var item in Html.GetEnumSelectList<CargoAutor>())
                {
                    <option value="@item.Value" selected="@(item.Value == Model.Cargo?.ToString("D") ? "selected" : null)">@item.Text</option>
                }
            </select>
            <span asp-validation-for="Cargo" class="text-danger small mt-1 d-block"></span>
        </div>
    </div>
    <div class="modal-footer border-0 pt-0">
        <button type="button" class="btn btn-outline-secondary rounded-pill px-4" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary rounded-pill px-4 shadow-sm">Salvar Alterações</button>
    </div>
</form>
